<div class="container">
  <form [formGroup]="storeForm" class="form">
    <div class="modal-title mt-3">
      <h1>Add Store</h1>
    </div>
    <div class="mt-3">
      <label class="form-label">City</label>
      <input
        id="city"
        type="text"
        class="form-control"
        formControlName="city"
        required
        [ngClass]="{
          'is-invalid':
            storeForm.get('city').invalid &&
            storeForm.get('city').dirty &&
            storeForm.get('city').touched
        }"
      />
      <div
        *ngIf="
          storeForm.get('city').invalid &&
          storeForm.get('city').dirty &&
          storeForm.get('city').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="storeForm.get('city').errors.required">
          City is required.
        </div>
        <div *ngIf="storeForm.get('city').errors.minlength">
          City must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Street</label>
      <input
        id="street"
        type="text"
        class="form-control"
        formControlName="street"
        [ngClass]="{
          'is-invalid':
            storeForm.get('street').invalid &&
            storeForm.get('street').dirty &&
            storeForm.get('street').touched
        }"
        required
      />
      <div
        *ngIf="
          storeForm.get('street').invalid &&
          storeForm.get('street').dirty &&
          storeForm.get('street').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="storeForm.get('street').errors.required">
          Street is required.
        </div>
        <div *ngIf="storeForm.get('street').errors.minlength">
          Street must be at least 6 characters long.
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Email</label>
      <input
        id="email"
        type="text"
        class="form-control"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            storeForm.get('email').invalid &&
            storeForm.get('email').dirty &&
            storeForm.get('email').touched
        }"
      />
      <div
        *ngIf="
          storeForm.get('email').invalid &&
          storeForm.get('email').dirty &&
          storeForm.get('email').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="storeForm.get('email').errors.required">
          Email is required.
        </div>
        <div *ngIf="storeForm.get('email').errors.email">
          Email format is not good
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Phone Number</label>
      <input
        id="phoneNumber"
        type="tel"
        class="form-control"
        formControlName="number"
        [mask]="'(+000) 00 000 000'"
        [ngClass]="{
          'is-invalid':
            storeForm.get('number').invalid &&
            storeForm.get('number').dirty &&
            storeForm.get('number').touched
        }"
      />
      <div
        *ngIf="
          storeForm.get('number').invalid &&
          storeForm.get('number').dirty &&
          storeForm.get('number').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="storeForm.get('number').errors.required">
          Phone Number is required.
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Card Number</label>
      <input
        id="cardNumber"
        type="tel"
        class="form-control"
        formControlName="card"
        [mask]="'0000 0000 0000 0000'"
        [ngClass]="{
          'is-invalid':
            storeForm.get('card').invalid &&
            storeForm.get('card').dirty &&
            storeForm.get('card').touched
        }"
      />
      <div
        *ngIf="
          storeForm.get('card').invalid &&
          storeForm.get('card').dirty &&
          storeForm.get('card').touched
        "
        class="invalid-feedback"
      >
        <div *ngIf="storeForm.get('card').errors.required">
          Card is required.
        </div>
        <div *ngIf="storeForm.get('card').errors.pattern">
          Card number is not good
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button
      id="addStore"
      class="btn-outline-primary m-3"
      [disabled]="!storeForm.valid"
      (click)="addStore()"
    >
      Add Store
    </button>
    <button type="button" class="btn-outline-danger" (click)="modalClose()">
      Close
    </button>
  </div>
</div>
