<div class="container" >
  <div class="modal-header">
    <h1>Store Info</h1>
  </div>
  <div class="modal-body">
    <ul>
      <li>{{ store.city }}</li>
      <li>{{ store.street }}</li>
      <li>{{ store.email }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-outline-danger" (click)="modalClose()">
      Close
    </button>
  </div>
</div>
