<nav class="navbar navbar-expand" *ngIf="isLoggedIn()">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/map">Map</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto" *appHasRole="'admin'">
    <li class="nav-item active">
      <a class="nav-link" id="admin" routerLink="/admin">Admin</a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" (click)="logOut()">Logout</a>
    </li>
  </ul>
</nav>
