* {
  box-sizing: border-box;
}

.form-control {
  width: 25%;
  @media only screen and (max-width: 680px) {
    width: 80%;
  }
  border: 1px solid black;
  border-radius: 10px;
}

agm-map {
  height: 500px;
  @media only screen and (max-width: 680px) {
    height: 400px;
  }
}


