<div class="container">
  <div class="form-group m-3 ">
    <input
      type="text"
      class="form-control"
      placeholder="Search by name"
      autocomplete="off"
      [formControl]="markerCityName"
    />
  </div>

  <div class="form-group m-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by email"
      autocomplete="off"
      [formControl]="markerEmail"
    />
  </div>

  <agm-map
    [longitude]="lng"
    [latitude]="lat"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
  >
    <agm-marker
      *ngFor="let fm of filteredMarkers"
      [latitude]="fm.lat"
      [longitude]="fm.lng"
      [label]="fm.label"
      [markerDraggable]="fm.draggable"
      (dragEnd)="dragEnd($event)"
      [iconUrl]="fm.icon"
      [animation]="'DROP'"
    >
      <agm-info-window>
        <div>{{ fm.city }}</div>
        <div>{{ fm.street }}</div>
        <div>{{ fm.email }}</div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
