<div class="form-steps-container">
  <ng-container *ngFor="let step of steps | async; let i = index">
    <div
      [ngClass]="{
        'step-complete': step.isComplete,
        'step-incomplete': !step.isComplete}"
      class="step-bubble"
      (click)="onStepClick(step)"
    >
      {{ step.stepIndex }}
    </div>
    <div *ngIf="i < (steps | async)?.length - 1" class="step-divider"></div>
  </ng-container>
</div>
