<div class="container">
  <form [formGroup]="storeForm">
    <div class="modal-title mt-3">
      <h1>Edit Store</h1>
    </div>
    <div class="mt-3">
      <label class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        id="editCity"
        formControlName="city"
        [ngClass]="{ 'is-invalid': city.invalid && (city.dirty && city.touched) }"
      />
      <div *ngIf="city.invalid && (city.dirty && city.touched)" class="invalid-feedback">
        <div *ngIf="city.errors?.required">City is required.</div>
        <div *ngIf="city.errors?.minlength">
          City must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Street</label>
      <input
        type="text"
        class="form-control"
        id="editStreet"
        formControlName="street"
        [ngClass]="{ 'is-invalid': street.invalid && (street.dirty && street.touched) }"
      />
      <div *ngIf="street.invalid && (street.dirty && street.touched)" class="invalid-feedback">
        <div *ngIf="street.errors?.required">Street is required.</div>
        <div *ngIf="street.errors?.minlength">
          Street must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label">Email</label>
      <input
        type="text"
        id="editEmail"
        class="form-control"
        formControlName="email"
        [ngClass]="{ 'is-invalid': email.invalid && (email.dirty && email.touched) }"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="invalid-feedback"
      >
        <div *ngIf="email.errors?.required">City is required.</div>
        <div *ngIf="email.errors?.minlength">
          City must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        id="editSaveButton"
        class="btn-outline-primary m-3"
        [disabled]="!storeForm.valid"
        (click)="updateStore(store)"
      >
        Save
      </button>
      <button type="button" class="btn-outline-danger" (click)="modalClose()">
        Close
      </button>
    </div>
  </form>
</div>
