<div class="form-page-container">
  <app-steps></app-steps>
  <div class="step-page-container">
    <div class="form-step">
      <ng-container [ngSwitch]="currentStep.stepIndex">
        <ng-container *ngSwitchCase="'1'">
          <form [formGroup]="signUpForm">
            <div class="mb-3">
              <input
                type="text"
                placeholder="First Name"
                formControlName="firstName"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="text"
                placeholder="Last Name"
                formControlName="lastName"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="email"
                placeholder="Email"
                formControlName="email"
                required
              />
            </div>
          </form>
        </ng-container>
      </ng-container>
      <ng-container [ngSwitch]="currentStep.stepIndex">
        <ng-container *ngSwitchCase="'2'"> </ng-container>
      </ng-container>
      <ng-container [ngSwitch]="currentStep.stepIndex">
        <ng-container *ngSwitchCase="'3'">
          <app-step-template [step]="currentStep"></app-step-template>
        </ng-container>
      </ng-container>
      <button class="btn btn-primary" [disabled]="!signUpForm.valid">
        {{ showButtonLabel() }}
      </button>
    </div>
  </div>
</div>
