<div class="step-template">
  <h2>Step {{ step.stepIndex }}</h2>
  <div class="step-content-label">
    <form [formGroup]="">
      <input type="password" class="form-control" [formControl]="password" />
    </form>
    <button class="btn btn-primary" (click)="onComplete()">Next</button>
  </div>
</div>
