
.form-group {
  margin-top: 200px;
}


.btn {
  border: 1px solid black;
  border-radius: 10px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  border: 1px solid black;
  border-radius: 10px;
}


