﻿<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
        required
        [ngClass]="{ 'is-invalid': submitted && username.errors }"
      />
      <div *ngIf="submitted && username.errors" class="invalid-feedback">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">
          Must be at least 4 characters
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
        [ngClass]="{ 'is-invalid': submitted && password.errors }"
      />
      <div *ngIf="submitted && password.errors" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Must be at least 6 characters
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    <p class="text-center mt-3">
      <a id="signUpPage" routerLink="/signup" class="link-info"
        >Don't have an account? Sign up</a
      >
    </p>
  </form>
</div>
