<h1 class="mt-3">Stores List</h1>
<button id="addStoreModal" (click)="openAddModal()">Add Store</button>
<div class="table-responsive-sm">
  <table class="table mt-3">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Action</th>
      <th scope="col">Inspect</th>
      <th scope="col">Phone numbers</th>
      <th scope="col">Card Details</th>
    </tr>
    </thead>
    <tbody *ngFor="let store of stores">
    <tr>
      <th id="storeColumnCity">{{ store.city }}</th>
      <td>{{ store.street }}</td>
      <td>{{ store.email }}</td>
      <td>
        <button
          class="btn-info"
          id="editModal"
          (click)="openEditModal(store)"
        >
          Edit
        </button>
      </td>
      <td>
        <button class="btn-danger" (click)="deleteStore(store.id)">
          Delete
        </button>
      </td>
      <td>
        <button class="btn-info" (click)="openInfoModal(store)">View</button>
      </td>
      <td class="phoneNumberPipe">
        {{ store.number | numberFormatter }}
      </td>
      <td class="cardDetails">
        {{
        store.card  | cardPipe: store.cardType
        }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
